<div class="container section_login">
	<div class="row ">
		<div class="col-sm-6 col-sm-offset-3 form_bg_clr clearfix">
			<h3>Login</h3>
			<hr>
			<h5>Name</h5>
			<input type="text" class="form-control custom_input_registrationForm_user" placeholder="User Name">
			<h5>Password</h5>
			<input type="password" class="form-control custom_input_registrationForm_user input_margin_top" placeholder="Password">
			<h6 style="margin-top: 5px;">Forgot password</h6>
			<button class="btn btn-primary  pull-right">Login</button>
		</div>
	</div>
</div>